<ion-header class='page-topic'>
  <ion-navbar hideBackButton="true">
    <ion-buttons>
        <button ion-button clear icon-only color='dark' (click)="goBack()">
         <ion-icon name="md-arrow-back"> </ion-icon>
        </button>
        <button ion-button clear icon-left small color='dark' (click)="goUser()">
          <img class="imgIcon-in-header" src="{{topic.data.author.avatar_url}}">
          &nbsp;&nbsp;{{topic.data.author.loginname}}
        </button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
    <!--<ion-buttons right>
      <button ion-button clear icon-only color='secondary' (click)="goBack()">
          <ion-icon name="ios-more"></ion-icon>
        </button>&nbsp;&nbsp;&nbsp;
    </ion-buttons>-->
  </ion-navbar>
</ion-header>
<ion-content class='page-topic' padding>
  <h2>{{topic.data.title}}
    <ion-spinner class="spinner-small" *ngIf="topic.fetching" name='ios-small'></ion-spinner>
  </h2>
  <p>
    <span class="good" *ngIf='topic.data.good'>精华</span>
    <span class="top" *ngIf='topic.data.top'>置顶</span>
    <span class="tab">{{topic.data.tab | topictab}}</span>
    <span class="text-num">{{topic.data.visit_count}}人阅读&nbsp;&nbsp;</span>
    <span class="text-num">{{topic.data.reply_count}}人回复</span>
  </p>
  <p class="text-num">
    发表于{{topic.data.create_at | date:'yyyy/MM/dd mm:HH'}}&nbsp;({{topic.data.create_at|moment:"fromnow"}})
  </p>
  <hr>
  <div *ngIf="contentLoading"  align="center" class="loading">
        <ion-spinner name='circles'></ion-spinner>
  </div>
  <topic-content content="{{topic.data.content}}"></topic-content>
  <!--<div [innerHTML]="topic.data.content" class="inner-html"></div>-->
  <div class="reply">
    <ion-item-divider id='replyDivider' *ngIf="!contentLoading">
      <p style="color:red;font-size: small">
        <span>回复&nbsp;{{topic.data.replies.length}}</span>
        <ion-spinner style="float: right" class="spinner-small" *ngIf="topic.fetching" name='ios-small'></ion-spinner>
      </p>
    </ion-item-divider>
    <ion-list>
      <div *ngFor="let p of topic.data.replies; let i =index;" class="reply-div">
        <ion-item class="reply-item">
          <ion-avatar item-left (click)="goUser(p.data.author.loginname)">
            <img src="{{p.data.author.avatar_url}}" alt="没有图片">
          </ion-avatar>
          <p><b>
            <a (click)="goUser(p.data.author.loginname)">{{p.data.author.loginname}}</a>
            <span>{{i+1}}楼</span>
          </b></p>
          <p>{{p.data.create_at | moment:"auto"}}</p>
          <button ion-button clear icon-only small color='positive' item-right (click)="makeReply(p.data)">
           <ion-icon class="icon-button" name="ios-chatbubbles-outline"></ion-icon>
          </button>
          <button ion-button clear icon-left small item-right (click)="makeUp(p.data)">
            <ion-icon isActive="{{p.data.myup}}" class="icon-button" name="ios-thumbs-up"></ion-icon>
            <span>{{p.data.ups.length}}</span>
          </button>

        </ion-item>
        <div class="reply-content">
          <div [innerHTML]="p.data.content"></div>
        </div>
        <div class="comments-div" *ngIf="p.comments">
          <p>
            有{{p.comments.length}}条回复
          </p>

          <div *ngFor="let c of p.comments" class="comment-item">
               <ion-grid>
                  <ion-row>
                    <ion-col width-66>
                      <div style="">
                         <img class="imgIcon-in-comment" src="{{c.author.avatar_url}}">
                         <a (click)="goUser(c.author.loginname)">
                        {{c.author.loginname}}<br>
                        <span style="color:gray;font-size: small">{{p.data.create_at | moment:"auto"}}</span>
                      </a>
                      </div>
                    </ion-col>
                    <ion-col>
                      <ion-icon class="icon-button" name="ios-chatbubbles-outline"  (click)="makeReply(c)"></ion-icon>
                      &nbsp;&nbsp;&nbsp;
                      <ion-icon isActive="{{c.myup}}" class="icon-button" name="ios-thumbs-up" (click)="makeUp(c)"></ion-icon>
                      <span color="primary"> {{c.ups.length}}</span>

                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <span [innerHTML]="c.content"></span>
                  </ion-row>
                </ion-grid>
          </div>

        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer class='page-topic' no-border>
  <ion-toolbar>
    <!--<div class="input-div">
      <input class="input-in-footer" type="text" placeholder="说说你的想法">
    </div>-->
    <ion-buttons start>
      <button ion-button clear icon-right color='primary' (click)="makeReply()">
        <ion-icon name="ios-send-outline"></ion-icon>
        <span>&nbsp;说说你的想法</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <!--<button ion-button clear icon-right color='primary' (click)="makeReply()">
        <ion-icon name="ios-send-outline"></ion-icon>
        <span>发送</span>
      </button>&nbsp;&nbsp;-->
      <button ion-button clear icon-only color='primary' (click)="scrollToReply()">
        <ion-icon name="ios-chatboxes-outline"></ion-icon>
      </button>&nbsp;&nbsp;&nbsp;
      <button ion-button clear icon-only color='primary' (click)="makeCollect()">
        <ion-icon isActive="{{isCollect(topic.data.is_collect)}}" name="ios-star"></ion-icon>
      </button>&nbsp;&nbsp;&nbsp;
      <!--<button ion-button clear icon-only color='primary' (click)="scrollToTop()">
        <ion-icon name="ios-share-outline"></ion-icon>
      </button>&nbsp;&nbsp;&nbsp;-->
       <button ion-button clear icon-only color='primary' (click)="scrollToTop()">
        <ion-icon name="md-arrow-round-up"></ion-icon>
      </button>&nbsp;&nbsp;&nbsp;
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
