<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
        <button ion-button clear icon-only color='dark' (click)="goBack()">
         <ion-icon name="md-arrow-back"> </ion-icon>
        </button>
    </ion-buttons>
     <ion-title>登录</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!isLogin">
    <ion-item>
        <ion-label floating>输入accesstoken完成验证</ion-label>
        <ion-textarea rows="6" [(ngModel)]="token"></ion-textarea>
      </ion-item>
      <div align="center">
          <button ion-button round color="primary" (click)="doLogin()">
            验证token
          </button>
      </div>

      <ion-list>
          <ion-list-header>输入历史</ion-list-header>
          <ion-item *ngFor="let p of loginHistories" (click)="setToken(p)">
             <p style="font-size: 12px;">{{p}}</p>
          </ion-item>
      </ion-list>


  </div>
  <div *ngIf="isLogin">
    已登录：{{loginuser.loginname}}<br>
    token:{{token}}
  </div>
</ion-content>
