<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{pagination.tab | topictab}}
        </ion-title>
        <ion-buttons start>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="page-home">
    <ion-refresher (ionRefresh)="pullToRefresh($event)" style="border: none">
        <ion-refresher-content pullingIcon="ios-refresh" pullingText="" refreshingSpinner="circles" refreshingText="">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <div *ngFor="let p of topics.data" (click)="showInfo(p)">
            <topic-item [topic]="p"></topic-item>
        </div>
        <ion-infinite-scroll *ngIf="topics.hasMore" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="circles" loadingText="加载更多...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>

    <ion-fab middle right edge>
        <button ion-fab clor="primary">{{translate(pagination.tab)}}</button>
        <ion-fab-list side="bottom">
            <button ion-fab color="sky" (click)='setTab("share")'>分享</button>
            <button ion-fab color="primary" (click)='setTab("ask")'>求助</button>
            <button ion-fab color="danger" (click)='setTab("job")'>招聘</button>
        </ion-fab-list>
        <ion-fab-list side="top">
            <button ion-fab color="secondary" (click)='setTab("all")'>全部</button>
            <button ion-fab color="danger" (click)='setTab("good")' *ngIf="!isIonic">精华</button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
