// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.loading{
        position:absolute;
        z-index: 100;
        bottom: 60%;
        display: block;
        width: 250px;
        left:50%;
        margin-left:-125px;
    }
.top{
    background: #1E90FF;
    color:white;
    border-radius: 7px;
    padding:5px;
    margin:4px;
}
.good{
    background: #80BD01;
    color:white;
    border-radius: 7px;
    padding:5px;
    margin:4px;
}
.tab{
     background: #F08080;
    color:white;
    border-radius: 7px;
    padding:5px;
    margin:4px;
}
